[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autonity = "*"
web3 = "*"

[dev-packages]
ruff = "*"
pyright = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "bash -c 'black --check . && ruff check . && pyright .'"
starter_kit = "python -m starter_kit"
